/* CSS for build an overall template for the website*/

a:link {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
}

a:active{
  color: yellow;
}



.top-nav {
  display: inline;
  padding: 20px;
  background-color: grey;
  
}

.bottom-nav {
  display: inline;
  padding: 20px;
  background-color: grey;
  
}

.sidebar {
  float: right;
}